<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Integración</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
  <div id="info">
    <button @click="Change" v-if="band" class="btn btn-success">Carga de credenciales</button>
    <button @click="Change" v-else class="btn btn-success">Prueba de rutas</button>
    <div class="container pt-5 pb-5 pl-5 pr-5" v-if="band">
      <h3>API'S</h3>
      <!-- Paso 1 -->
      <div class="row pb-3">
        <strong>Paso 1</strong>
        <div class="col"><input v-model="boardName" type="text" class="form-control" placeholder="Nombre del Tablero"></div>
        <div class="col"><button class="btn btn-primary" @click="getBoardID(boardName)">Buscar BoardID</button></div>
        <div class="col">
          <p>ID: {{ boardID }}</p>
        </div>
      </div>
      <hr>
      <div class="row pb-3">
        <div class="col"><input v-model="boardID2" type="text" class="form-control" placeholder="ID del Tablero"></div>
        <div class="col"><input v-model="listName" type="text" class="form-control" placeholder="Nombre de la lista"></div>
        <div class="col"><button class="btn btn-primary" @click="getListID(boardID2, listName)">Buscar listID</button></div>
        <div class="col">
          <p>ID: {{ listID }}</p>
        </div>
      </div>
      <hr>
      <div class="row pb-3">
        <div class="col"><input v-model="projectName" type="text" class="form-control" placeholder="Nombre de proyecto"></div>
        <div class="col"><button class="btn btn-primary" @click="getProjectID(projectName)">Buscar ProjectID</button></div>
        <div class="col">
          <p>ID: {{ projectID }}</p>
        </div>
      </div>
      <hr>
      <div class="row pb-3">
        <div class="col">
          <input v-model="taskName" type="text" class="form-control" placeholder="Nombre del Task">
          <input v-model="proID" type="text" class="form-control" placeholder="ProjectID">
        </div>
        <div class="col"><button class="btn btn-primary" @click="getTaskID(taskName, proID)">Buscar TaskID</button></div>
        <div class="col">
          <p>ID: {{ taskID }}</p>
        </div>
      </div>
      <hr>
      <h1>Solicitudes</h1>
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Paso</th>
              <th scope="col">Accion</th>
              <th scope="col">Resultado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">2 (Trello)</th>
              <td><button class="btn btn-primary" @click="createCards()">Creación de tarjetas proyecto nuevo</button></td>
              <td>{{ cards2 }}</td>
            </tr>
            <tr>
              <th scope="row">3 (General)</th>
              <td><button class="btn btn-primary" @click="sincro()">Sincronizar tarjetas</button></td>
              <td>{{ sync }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <h1>Incidencias</h1>
      <div class="row pb-3">
        <div class="col"><input v-model="ticket_id" type="text" class="form-control" placeholder="Ticket ID"></div>
        <div class="col"><button class="btn btn-primary" @click="Incidents()">Actualizar Horas clockify</button></div>
        <div class="col">
          <p>Res: {{ ticket_res }}</p>
        </div>
      </div>
      <!--  -->
      <div class="row pb-3">
        <div class="col"><button class="btn btn-primary" @click="update_all()">Actualizar todas horas clockify</button></div>
        <div class="col">
          <p>Res: {{ update_res }}</p>
        </div>
      </div>
      <hr>
      <h1>No Registrados</h1>
      <div class="row pb-3">
        <div class="col"><button class="btn btn-primary" @click="update_unregistered()">Actualizar tabla No Registrados</button></div>
        <div class="col">
          <p>Res: {{ unregistered_res }}</p>
        </div>
      </div>
    </div>
    <div class="container pt-5 pb-5 pl-5 pr-5" v-else>
      <h3>Credenciales</h3>
      <br>
      <h5>Token de trello</h5>
      <input v-model="trelloToken" type="text" class="form-control" placeholder="Token de trello">
      <h5>Key de trello</h5>
      <input v-model="trelloKey" type="text" class="form-control" placeholder="Key de trello">
      <h5>Token de clockify</h5>
      <input v-model="clockifyToken" type="text" class="form-control" placeholder="Token de clockify">
    </div>
  </div>

  <script>
    var vm = new Vue({
      el: '#info',
      data: {
        band: true,
        workspaceId: '5c79aee1b079877a63415e08',
        //Trello requests
        boardName: '',
        boardID: '',

        // Clockify requests
        // Project Requests
        projectName: '',
        projectID: '',

        // Task Requests
        taskName: '',
        taskID: '',
        proID: '',
        cards: "",
        cards2: "",
        sync: "",
        Time: "",
        Time2: "",


        // QA
        host: "http://10.48.13.156",
        trelloToken: "dab44b231906a2484ee48d2fe11704046651e0083c6e71da3727f33589abd728", // Angel
        trelloKey: "97ed379704c2ca46cc6de86a6f0fa31f", // Angel

        // // Pruebas
        // host: "http://localhost",
        // trelloToken: "22b262d7b19e02d785a2b1fa0ba982e55ab891122b07d7ff79ffda934f7a4e28", // Ramon
        // trelloKey: "5d94aa42b86a6f4e11d7cd857ff8699a", // Ramon





        clockifyToken: "Xvy1392jqzm2LxBF",

        // Incidents

        ticket_id: '',
        ticket_res: '',
        update_res: "",


        //Lista
        listID: "",
        listName: "",
        boardID2: "",

        // No Registrados
        unregistered_res: ""
      },
      methods: {
        getProjectID(name) {
          axios.defaults.baseURL = 'https://api.clockify.me/api/v1'
          axios.defaults.headers.common['X-Api-Key'] = this.$data.clockifyToken
          axios.defaults.headers.common['content-type'] = 'application/json'
          /*recibe parametro name(nombre del proyecto) y client(nombre del cliente), busca en la lista de proyectos,
          devuelve el resultado filtrado y se retorna el ID en la funcion
          (si los parametros coinciden en su totalidad es la posicion 0 en la lista)*/
          return new Promise(async (resolve, reject) => {
            try {
              const result = await axios.get(`/workspaces/${this.workspaceId}/projects?name=${name}`);
              this.projectID = result.data[0].id
              console.log(this.projectID)
            } catch (error) {
              reject(error)
            }
          });
        },
        getTaskID(name, projectId) {
          axios.defaults.baseURL = 'https://api.clockify.me/api/v1'
          axios.defaults.headers.common['X-Api-Key'] = this.$data.clockifyToken
          axios.defaults.headers.common['content-type'] = 'application/json'
          /*recibe parametro name(nombre de la tarea) y projectId(ID del proyecto), busca en la lista de tareas dentro del proyecto,
          devuelve el resultado filtrado y se retorna el ID en la funcion
          (si los parametros coinciden en su totalidad es la posicion 0 en la lista)*/
          return new Promise(async (resolve, reject) => {
            try {
              const result = await axios.get(`/workspaces/${this.workspaceId}/projects/${projectId}/tasks?name=${name}`);
              this.taskID = result.data[0].id;
            } catch (error) {
              reject(error)
            }
          });
        },
        getListID(boardID2, listName){
          axios.defaults.baseURL = 'https://api.trello.com/1/';
          const add = '?key=' + this.$data.trelloKey + '&token=' + this.$data.trelloToken
          return new Promise(async (resolve, reject) => {
            try {
              let result = await axios.get(`boards/${boardID2}/lists${add}`);
              result = result.data.filter( (el)=>el.name == listName);
              if(result.length!=0){
                this.listID = result[0].id
              }else{
                this.listID = "ERROR"
              }
            } catch (error) {
              reject(error)
            }
          });
        },
        getBoardID(name) {
          let names = [];
          let ids = [];
          let index = 0;
          axios.defaults.baseURL = 'https://api.trello.com/1'
          const add = '?key=' + this.$data.trelloKey + '&token=' + this.$data.trelloToken
          return new Promise(async (resolve, reject) => {
            try {
              let result = await axios.get(`/members/me/boards${add}`);
              result = result.data;
              for (let i = 0; i < result.length; i++) {
                names.push(result[i].name);
                ids.push(result[i].id);
              }

              index = names.indexOf(name)

              if (index === -1) {
                this.boardID = 'No encontrado'
              } else {
                this.boardID = ids[index]
              }


            } catch (error) {
              reject(error)
            }
          });
        },
        getCards() {
          axios.defaults.baseURL = this.$data.host+':4090'
          //Ruta para actualizar las cartas en BD
          return new Promise(async (resolve, reject) => {
            try {
              const result = await axios.get(`/trello/getCards`);
              this.cards = result.data;
            } catch (error) {
              reject(error)
            }
          });
        },
        sincro(){
          axios.defaults.baseURL = this.$data.host+':4090'
          //Ruta para actualizar las cartas en BD
          return new Promise(async (resolve, reject) => {
            try {
              const result = await axios.get(`trello/syncro`);
              this.sync = result.data;
            } catch (error) {
              reject(error)
            }
          });
        },
        createCards() {
          axios.defaults.baseURL = this.$data.host+':4090'
          //Ruta para actualizar las cartas en BD
          return new Promise(async (resolve, reject) => {
            try {
              const result = await axios.get(`trello/createCards`);
              this.cards2 = result.data;
            } catch (error) {
              reject(error)
            }
          });
        },
        getTime() {
          axios.defaults.baseURL = this.$data.host+':4090'
          //Ruta para actualizar las cartas en BD
          return new Promise(async (resolve, reject) => {
            try {
              const result = await axios.get(`/clockify/getTime`);
              console.log(result)
              this.Time = result.data;
            } catch (error) {
              reject(error)
            }
          });
        },
        actualizar() {
          axios.defaults.baseURL = this.$data.host+':4090'
          //Ruta para actualizar las cartas en BD
          return new Promise(async (resolve, reject) => {
            try {
              const result = await axios.get(`clockify/actualizar`);
              this.Time2 = JSON.stringify(result.data);
            } catch (error) {
              reject(error)
            }
          });
        },
        Change() {
          this.band = !this.band
        },
        Incidents(){
          console.log("Clicked")
          console.log(this.ticket_id)
          //
          axios.defaults.baseURL = this.$data.host+':4050'
          //Ruta para actualizar las cartas en BD
          return new Promise(async (resolve, reject) => {
            try {
              const result = await axios.get(`tickets/update_ticket/`+this.ticket_id);
              this.ticket_res =  result.data;
            } catch (error) {
              reject(error)
            }
          });
          //
        },
        update_all(){
          console.log("Clicked")
          axios.defaults.baseURL = this.$data.host+':4050'
          return new Promise(async (resolve, reject) => {
            try {
              const result = await axios.get(`tickets/update_all`);
              this.update_res =  result.data;
            } catch (error) {
              reject(error)
            }
          });
        },
        update_unregistered(){
          console.log("Clicked")
          axios.defaults.baseURL = this.$data.host+':4050'
          //Ruta para actualizar las cartas en BD
          return new Promise(async (resolve, reject) => {
            try {
              const result = await axios.get(`tickets/update_not_reg`);
              this.unregistered_res =  result.data;
            } catch (error) {
              reject(error)
            }
          });
          //
        }
      }
    });
  </script>
</body>

</html>
